body{
   background-color: black;
   font-family: sans-serif;
   overflow: hidden;
   line-height: 30pt;
   font-size: 25pt;
   color: white;
}

h1 {
   display: inline;
   font-size: 25pt;
   animation:rainbow 1s infinite;
}

a {
   color: white;
}

loadingdiv {
   display: none;
}

#sim,
#nao,
#cares {
   display: none;
}

.contentor{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 700px;
   height: 200px;
   box-sizing:border-box;
   border: 2px solid;
   border-bottom: 12px solid;
   background-color: black;

   &:hover{
      cursor: help;
      animation:rainbow 1s infinite;
   }

   #titulo{
      position: absolute;
      font-weight: bold;
      padding-right: 5vw;
      left: 4vw;
      top: 50%;
      transform: translate(0%, -50%);

   }

   .titulo {
      @extend #titulo;
      display: block;
      padding-right: 1vw;

   }

   #rodape {
      position: absolute;
      width: 100%;
      height: 30px;
      // background-color: rgb(128, 128, 128);
      overflow: hidden;
      line-height: 30px;
      font-size: 12pt;
      bottom: 0;

      h1 {
         font-size: 12pt;
      }

      #rodape-in {
         width: 1900px;
         position: absolute;
         margin-left: 100%;
         animation:rodape 17s infinite linear;
      }

      @keyframes rodape{
         0%{
            margin-left: 100%;
            // transform: translate3d( 0px, 0px, 0px);
            animation-timing-function: linear;
         }

         100%{
            margin-left: -1900px;
            // transform: translate3d(-100%, 0px, 0px);
            animation-timing-function: linear;
         }
      }
   }

   #data,
   #mapa,
   #jantar,
   #concerto {
      display: none;
   }

   #mapa {
      @extend #titulo;
      top: 0;
      transform: translate(0);

      iframe {
         position: absolute;
         left: calc(-4vw);
      }
   }
}

span {
   display: none;
}


// PAGINA NAO
#consolation{
   width: 700px;
   height: 50px;
   position: absolute;
   top: calc(50% + 70px);
   left: 50%;
   padding-left: 8vw;
   transform: translate(-50%, -50%);
   line-height: 12pt;
   color: white;
   font-size:12pt;

   h1{
      font-size: 12pt;
      cursor: help;
   }

   a{
      text-decoration: none;
   }
}


// PAGINA SIM

#fundo-sim {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

#circles-box {
   #circle-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1vw solid;
      color: white;
      border-radius: 70vw;
      width: 70vw;
      height: 70vw;
      cursor: help;

      &:hover {
         animation:rainbow 1s infinite;
      }
   }

   #circle-2 {
      @extend #circle-1;
      border-radius: 60vw;
      width: 60vw;
      height: 60vw;
   }

   #circle-3 {
      @extend #circle-1;
      border-radius: 50vw;
      width: 50vw;
      height: 50vw;
   }

   #circle-4 {
      @extend #circle-1;
      border-radius: 40vw;
      width: 40vw;
      height: 40vw;
   }


   #ball-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50vw;
      cursor: default;
      width: 70vw;
      height: 70vw;
   }

   #ball-0 {
      @extend #ball-1;
      width: 73vw;
      height: 73vw;
      // background: red;
   }

   #ball-2 {
      @extend #ball-1;
      width: 60vw;
      height: 60vw;
   }

   #ball-3 {
      @extend #ball-1;
      width: 50vw;
      height: 50vw;
   }

   #ball-4 {
      @extend #ball-1;
      width: 40vw;
      height: 40vw;
   }
}



@media screen and (max-width: 1000px) {
   .contentor{
      width: 620px;
      height: 200px;
   }

   #consolation {
      width: 620px;
      padding-left: 4vw;
      top: calc(50vh + 70px);
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 8vw;
   }

   iframe {
      width: 616px;
   }
}


@media screen and (max-width: 650px) {
   body,
   h1{
      font-size: 20pt;
   }

   #consolation {
      width: calc(95vw);
      padding-left: 4vw;
      top: calc(50vh + 50px);
      left: 0;
      transform: translate(0, -50%);
   }

   #circles-box {
      display: none;
   }

   .contentor {
      width: 100vw;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0);
      max-height: 100vh;
   }
   .titulo {
      display: none;
   }

   #yes {
      width: 94vw;
      display: block;
      span {
         display: block;
      }
   }
}


// PAGINA NAO

#sadders{
   width: 100vw;
   height: 100vh;
   overflow: hidden;

   .sad{
      width: 5vw;
      height: 5vw;
      color: white;
      text-align: center;
      position: absolute;
      font-size: 16pt;
      letter-spacing: 1.5pt;
      top: -25px;

      &:nth-of-type(1){
         left: 2vw;
         animation: chuva 25s ease-in infinite;
      }

      &:nth-of-type(2){
         left: 4vw;
         animation: chuva 14s infinite;
      }

      &:nth-of-type(3){
         left: 6vw;
         animation: chuva 15s infinite;
      }

      &:nth-of-type(4){
         left: 8vw;
         animation: chuva 14s infinite;
      }

      &:nth-of-type(5){
         left: 10vw;
         animation: chuva 23s infinite;
      }

      &:nth-of-type(6){
         left: 12vw;
         animation: chuva 26s infinite;
      }

      &:nth-of-type(7){
         left: 14vw;
         animation: chuva 19s infinite;
      }

      &:nth-of-type(8){
         left: 16vw;
         animation: chuva 18s infinite;
      }

      &:nth-of-type(9){
         left: 18vw;
         animation: chuva 12s infinite;
      }

      &:nth-of-type(10){
         left: 20vw;
         animation: chuva 17s infinite;
      }

      &:nth-of-type(11){
         left: 22vw;
         animation: chuva 9s infinite;
      }

      &:nth-of-type(12){
         left: 24vw;
         animation: chuva 19s infinite;
      }

      &:nth-of-type(13){
         left: 26vw;
         animation: chuva 23s infinite;
      }

      &:nth-of-type(14){
         left: 28vw;
         animation: chuva 8s infinite;
      }

      &:nth-of-type(15){
         left: 30vw;
         animation: chuva 20.2s infinite;
      }


      &:nth-of-type(16){
         left: 32vw;
         animation: chuva 25s infinite;
      }

      &:nth-of-type(17){
         left: 34vw;
         animation: chuva 17s infinite;
      }

      &:nth-of-type(18){
         left: 36vw;
         animation: chuva 15.7s infinite;
      }

      &:nth-of-type(19){
         left: 38vw;
         animation: chuva 12s infinite;
      }

      &:nth-of-type(20){
         left: 40vw;
         animation: chuva 16s infinite;
      }

      &:nth-of-type(21){
         left: 42vw;
         animation: chuva 16s infinite;
      }

      &:nth-of-type(22){
         left: 44vw;
         animation: chuva 9s infinite;
      }

      &:nth-of-type(23){
         left: 46vw;
         animation: chuva 18s infinite;
      }

      &:nth-of-type(24){
         left: 48vw;
         animation: chuva 22s infinite;
      }




      &:nth-of-type(25){
         left: 50vw;
         animation: chuva 15s infinite;
      }

      &:nth-of-type(26){
         left: 52vw;
         animation: chuva 19s infinite;
      }

      &:nth-of-type(27){
         left: 54vw;
         animation: chuva 25.7s infinite;
      }

      &:nth-of-type(28){
         left: 56vw;
         animation: chuva 12s infinite;
      }

      &:nth-of-type(29){
         left: 58vw;
         animation: chuva 23s infinite;
      }

      &:nth-of-type(30){
         left: 60vw;
         animation: chuva 26s infinite;
      }

      &:nth-of-type(31){
         left: 62vw;
         animation: chuva 11s infinite;
      }

      &:nth-of-type(32){
         left: 64vw;
         animation: chuva 18s infinite;
      }

      &:nth-of-type(33){
         left: 66vw;
         animation: chuva 12s infinite;
      }

      &:nth-of-type(34){
         left: 68vw;
         animation: chuva 17s infinite;
      }

      &:nth-of-type(35){
         left: 70vw;
         animation: chuva 25.7s infinite;
      }

      &:nth-of-type(36){
         left: 72vw;
         animation: chuva 22s infinite;
      }

      &:nth-of-type(37){
         left: 74vw;
         animation: chuva 23s infinite;
      }

      &:nth-of-type(38){
         left: 76vw;
         animation: chuva 16s infinite;
      }

      &:nth-of-type(39){
         left: 78vw;
         animation: chuva 29s infinite;
      }

      &:nth-of-type(40){
         left: 80vw;
         animation: chuva 38s infinite;
      }

      &:nth-of-type(41){
         left: 82vw;
         animation: chuva 8s infinite;
      }

      &:nth-of-type(42){
         left: 84vw;
         animation: chuva 25s infinite;
      }

      &:nth-of-type(43){
         left: 86vw;
         animation: chuva 17s infinite;
      }

      &:nth-of-type(44){
         left: 88vw;
         animation: chuva 25.7s infinite;
      }

      &:nth-of-type(45){
         left: 90vw;
         animation: chuva 22s infinite;
      }

      &:nth-of-type(46){
         left: 92vw;
         animation: chuva 7s infinite;
      }

      &:nth-of-type(47){
         left: 94vw;
         animation: chuva 26s infinite;
      }

      &:nth-of-type(48){
         left: 96vw;
         animation: chuva 9s infinite;
      }

      &:nth-of-type(49){
         left: 98vw;
         animation: chuva 28s infinite;
      }


      @keyframes chuva{
         0%{
            transform: translate3d( 0px, 0px, 0px);
            animation-timing-function: ease-in;
         }

         100%{
            transform: translate3d(0px, 98vh, 0px);
            animation-timing-function: ease-in;
         }
      }
   }
}

canvas {
   top: 50%;
   background-color: transparent;
   position: absolute;
   z-index: -100;
   margin-top: -20vh;
}


@keyframes rainbow {
   0% {color: #ff0000;}
   10% {color: #ff8000;}
   20% {color: #ffff00;}
   30% {color: #80ff00;}
   40% {color: #00ff00;}
   50% {color: #00ff80;}
   60% {color: #00ffff;}
   70% {color: #0080ff;}
   80% {color: #0000ff;}
   90% {color: #8000ff;}
   100% {color: #ff0080;}
}

#speakers{
   color:white;
   font-size: 8pt;
   letter-spacing: 1.5pt;
   position: absolute;
   left: 1vw;
   top:1vw;
   display: none;
}
